* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2,h4, a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
}

nav {
    position: absolute;
    right: 50px;
    top: 35px;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.background_img {
    position:fixed;
    width: 60%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner {
    display: flex;
    flex-direction: row;
}

.banner .cover {
    position: relative;
    width: 40%;
    height: 100vh;
    background-color: #513132;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.main_text {
    position: absolute;
    top: 20%;
    left: 20%;
    height: auto;
}

.main_text h1 {
    font-size: 86px;
    font-weight: 500;
    overflow: visible;
    width: 700px;
    text-shadow: 6px 6px 0px #513132db;
}

.main_text h4 {
    margin: 20px 0 50px 0;
    width: 70%;
}

.btn_download_cv {
    background-color: #ae5b46;
    color: white;
    font-weight: 400;
    border: 0;
    padding: 20px;
}

.btn_center {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 0;
    position: absolute;
    align-self: center;
    right: -45px;
    z-index: 100;
}

.btn_center img {
    width: 30px;
}

.socials {
    position: absolute;
    display: flex;
    list-style: none;
    height: auto;
    bottom: 50px;
    z-index: 100;
}

.socials a {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
    margin: 0 10px;
}

.socials img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    justify-self: center;
}

.socials a {
    display: grid;
}

.invert {
    filter: invert(1) brightness(2);
    align-self: center;
}

.projects {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 50px;
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    border: 0px;
    
}

.card div {
    display: flex;
    justify-content: center;
}

.card .desc {
    display: flex;
    flex-direction: column;
    width: 42.5%;
    margin: 5%;
}

.card .desc h3 {
    font-size: 3rem;
}

.card .desc p {
    font-size: 1.5rem;
    margin-top: 30px;
}

.card img {
    width: 42.5%;
    margin: 5% 0 5% 5%;
}

.background_img_proj{
    position: fixed;
    z-index: -1000;
    width: 100vw;
    top: -200px;
}